html,
body,
#__next {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
}

body.g-root {
    overflow: hidden;

    // Переопределяем переменную Gravity UI для всех компонентов
    --g-font-family-sans: var(--font-ys-display), sans-serif;
}
