html,
body,
#__next {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--g-color-text-primary);
}

body.g-root {
    overflow: hidden;
    --g-font-family-sans: var(--font-ys-text), sans-serif;
}

button {
    font-family: inherit;
}
