@use '../../styles/variables.scss' as variables;

.network-singularity {
    position: relative;
    width: 100%;
    height: 100%;
    contain: strict;

    &__canvas {
        width: 100%;
        height: 100%;
        cursor: grab;
        display: block;
        touch-action: none;
        background: transparent;
        transform: translateZ(0);
        will-change: contents;

        &:active {
            cursor: grabbing;
        }
    }
}
