.g-tab {
    border: none;
    margin-top: var(--g-spacing-8);

    &-list &:not(:last-child) {
        margin-inline-end: var(--g-spacing-2);
    }

    &-list {
        box-shadow: none;
        justify-content: center;
    }

    &__content {
        background: rgba(0,0,0,0.05);
        border-radius: var(--g-border-radius-xl);

        .g-tab_active & {
            background: var(--g-color-text-primary);
        }
    }

    &__title {
        font-size: var(--g-text-body-1-font-size);
        color: var(--g-color-text-primary);
        padding: var(--g-spacing-2) var(--g-spacing-4);

        .g-tab_active & {
            color: var(--g-color-text-light-primary) !important;
            cursor: default;
        }
    }
}